<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        .wrap {
            padding-top: 100px;
            background: rgb(177, 232, 241);
            height: 300px;
        }
        .wrap h1 {
            color: rgb(255, 110, 110);
            width: 50%;
            margin: 0 auto;
            border: 1px solid #000;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="wrap">
        <h1>♥ 김 해 인 ♥</h1>

        <div class="img-box">
            <img src="/img/hi.jpg" alt="loveu">
        </div>
    </div>
</body>
</html>